.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.tabbed-set .highlight {
  background: #ddd;
}

.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
}

.tabbed-set label {
  width: auto;
  margin: 0 0.5em;
  padding: 0.25em;
  font-size: 120%;
  cursor: pointer;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
  color: #333333;
}

.tabbed-set input:nth-child(n+1):checked + label {
    color: #FF5252;
}

.tabbed-set input:nth-child(n+1):checked + label + .tabbed-content {
    display: block;
}

span.pinout{
	padding:0 6px;
	border-radius:3px;
	margin:0;
	color:#fff;
	font-size:15px;
	display:inline-block;
	/* -webkit-transform:skew(-10deg);
	-ms-transform:skew(-10deg);
	transform:skew(-10deg);
	-moz-transform:skew(-10deg);
	-o-transform:skew(-10deg) */
	}
.pinout.pinout-red{
	background-color:#cb2b2b
	}
.pinout.pinout-black{
	background-color:#333739
	}
.pinout.pinout-turquoise{
	background-color:#1abc9c
	}
.pinout.pinout-green{
	background-color:#2ecc71
	}
.pinout.pinout-blue{
	background-color:#3498db
	}
.pinout.pinout-purple{
	background-color:#8d4ba3
	}
.pinout.pinout-yellow{
	background-color:#f1c40f
	}
.pinout.pinout-orange{
	background-color:#e67e22
	}
.pinout.pinout-gray{
	background-color:#95a5a6
	}
.pinout.pinout-brown{
	background-color:#7c3d04
	}
.pinout.pinout-dark-turquoise{
	background-color:#008b8b
	}
.pinout.pinout-dark-blue{
	background-color:#475577
	}
.pinout.pinout-aqua{
	background-color:#68ced8
	}

.md-typeset .highlight pre, .codehilitetable pre, .highlighttable pre {
    padding: 0 !important;
}